.logo{
    height: 120px !important;
    width: auto !important;
    position: absolute;
    top: 0px;
    border-radius: 2px;
}
.header
{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
@media screen and (max-width: 1200px) {
    .nav
    {
        zoom: 0.8;
    }
}
@media screen and (max-width: 1023px) {
    .logo{
        height: 85px !important;
        left: 30px;
    }
    .nav
    {
        margin: 0px;
        zoom: 0.7;
    }
    .header
    {
        position: sticky;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .logo{
        height: 57px !important;
    }
    .nav
    {
        margin: 0px;
        zoom: 0.9;
    }
}
